
.hamburger{
    padding: 44px;
}
.search {
    padding: 40px;
}

.head {
display: flex;
justify-content: space-between;
list-style: none;
&-name {
font-family: BodoniSvtyTwoSCITCTT;
font-size: 48PX;
color: #c19b76;
padding: 25px;
}
}
.section0{
    height: 1034px;
    width: 100%;
    display: flex;
}
.main-social{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;

}
.main-social li{
    padding: 10px 40px 10px 40px;
}
.block1{
    background-image: url(../img/bg1.jpg);
    font-size: 81px;
    color: #ffffff;
    padding-top: 150px;
    padding-right: 515px;
    padding-left: 500px;
    background-size: cover;
}